body {
    background-color: steelblue;
}

.addEdit {
    margin: auto;
    padding: 15px;
    max-width: 450px;
    align-content: center;
    margin-top: 120px;
}

.homeMain {
    margin: auto;
    padding: 15px;
    max-width: 1200px;
    align-content: center;
}

.homeSec {
    margin-left: 5px;
    float: right;
}


